# базовое
.gitignore
LICENSE
README.md
/data

# git
.git
.gitmodules

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.env.*
!.env.example
*.pem
*.key
letsencrypt/
certbot/

# venv
.venv/
venv/

# IDE
.vscode/
.idea/

# misc
*.log
.DS_Store
