DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/medguides

YANDEX_FOLDER_ID=YOUR_FOLDER_ID
YANDEX_API_KEY=YOUR_API_KEY

# embeddings
YANDEX_EMBEDDING_MODEL_URI=emb://{YANDEX_FOLDER_ID}/text-search-doc/latest
YANDEX_EMBEDDING_QUERY_MODEL_URI=emb://{YANDEX_FOLDER_ID}/text-search-query/latest
YANDEX_EMBEDDINGS_URL=https://ai.api.cloud.yandex.net/foundationModels/v1/textEmbedding

EMBEDDING_DIM=256


# translate
YANDEX_TRANSLATE_URL=https://translate.api.cloud.yandex.net/translate/v2/translate
RETRIEVER_TRANSLATE_MODE=dual_query
RETRIEVER_TRANSLATE_QUERY_TARGET_LANG=en
RETRIEVER_TRANSLATE_TARGET_LANG=ru
RETRIEVER_TRANSLATE_SOURCE_LANG=
YANDEX_CREDENTIAL_PROFILE=default

# optional personal creds for paid translate
PERSONAL_YANDEX_FOLDER_ID=YOUR_PERSONAL_FOLDER_ID
PERSONAL_YANDEX_API_KEY=YOUR_PERSONAL_API_KEY


YC_OPENAI_BASE_URL=https://llm.api.cloud.yandex.net/v1
# alice | yandex
ANSWER_MODEL_FAMILY=alice
ANSWER_TOP_K=6
ANSWER_TRANSLATE_MODE=dual_query
ANSWER_TEMPERATURE=0.2
ANSWER_MAX_OUTPUT_TOKENS=1800
